#about {
    padding-top: 100px;
}
.about-row {
    margin-top: 24px;
}
.about-txt {
    font-size: 20px;
    margin: auto;
    max-width: 650px;
}
#infographic {
    background-color: #0d0d0d;
    color: #f2f2f2;
    padding: 20px;
    margin-top: 20px;
}

.infographic-txt {
    margin-top: 15px;
}
