#about {
    padding-top: 100px;
}
#about h1 {
    text-align: center;
}
.about-row {
    margin-top: 50px;
}
.about-txt {
    font-size: 24px;
    margin: auto;
    max-width: 650px;
    text-align: center;
}
#infographic {
    background-color: #0d0d0d;
    color: #f2f2f2;
    padding: 20px;
    margin-top: 50px;
}
.infographic-row {
    margin-top: 25px;
}
.about-txt a {
    text-decoration: none;
    color: #8c8c8c;
}
.about-txt a:hover {
    color: #bfbfbf;
}
.infographic-txt {
    margin-top: 15px;
}
