#experience {
    padding-top: 100px;
}
#experience h1,
.technologies-txt {
    text-align: center;
}
.technologies {
    padding: 50px;
}
.technology-icon {
    margin-top: 50px;
    padding: 10px;
    max-width: 7.5vw;
    max-height: 7.5vw;
    filter: grayscale(100%);
    transition: 1.5s ease;
}
.technology-icon:hover {
    filter: none;
}
.technologies .col {
    text-align: center;
}
