.header {
    background-color: #0d0d0d;
    width: 100vw;
    position: fixed;
    z-index: 2;
}
.header-nav {
    color: #bfbfbf;
    font-size: 24px;
}
.header-active {
    background-color: #f2f2f2;
    color: #0d0d0d;
}
.header-nav:hover {
    color: #f2f2f2;
}
.header-active:hover {
    color: #8c8c8c;
}
.header-logo {
    font-size: 32px;
}
.scroll-down {
    padding-top: 100px;
}
.navbar-toggler {
    background-color: #bfbfbf;
}
