.welcome-container {
    height: 1000px;
    background-image: url('../img/background.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}
.welcome-txt {
    color: #f2f2f2;
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.arrow {
    margin-top: 100px;
    border: solid #f2f2f2;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 10px;
}
.arrow:hover {
    border-color: #404040;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.bounce {
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}
@media only screen and (max-width: 768px) {
    .welcome-container {
        height: 500px;
    }
}
