#work {
    text-align: center;
    padding-top: 70px;
    display: block;
}

.cv-container {
    text-align: center;
    padding: 50px;
    color: #f2f2f2;
    background-image: url('../img/cv.jpg');
    background-attachment: fixed;
    background-size: cover;

    height: 200px;
    margin-bottom: 120px;
}

.cv-grab,
.cv-grab:hover,
.cv-grab:focus {
    margin-top: 10px;
    color: #f2f2f2;
    border: solid 2px;
    background-color: transparent;
}
.cv-grab:hover {
    background-color: #f2f2f250;
    transform: scale(1.2);
}
.work-projects {
    margin: 50px;
}
.work-project-item {
    width: 100%;
    height: 100%;
    background-color: #0d0d0d;
}
.work-project-item img,
.work-project-popup img {
    width: 100%;
    height: 100%;
}
.work-project-popup-desc {
    font-size: 1.25em;
    margin-top: 25px;
}
.work-project-popup-footer {
    background-color: #f2f2f2;
}
.work-project-popup-footer-button {
    background-color: #0d0d0d;
    border: #0d0d0d;
}
.work-project-popup-footer-button:visited,
.work-project-popup-footer-button:hover {
    border: #0d0d0d;
    background-color: #404040;
}
.work-project-item:hover {
    cursor: pointer;
}
.work-project-item:hover .work-project-item-img {
    opacity: 0.7;
}

.work-project-item-bar {
    position: absolute;
    bottom: 0;
    height: 0;
    transition: 0.5s ease;
    width: calc(100% - 30px);
    background-color: #0d0d0d;
    color: #f2f2f2;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
    opacity: 0;
}
.work-project-item-search img {
    width: 10%;
}
.work-project-item-search {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 0.5s ease;
}
.work-project-item:hover .work-project-item-bar {
    opacity: 1;
    height: 40px;
    padding: 10px;
    z-index: 1;
}
.work-project-item:hover .work-project-item-search {
    opacity: 1;
    height: 100%;
    bottom: 0;
    z-index: 2;
}

.work-project-popup-link-or {
    padding: 12px;
}
.work-project-popup-link {
    color: #0d0d0d;
    padding: 10px;
    border: solid 2px #0d0d0d;
}
a .work-project-popup-link:hover {
    text-decoration: #0d0d0d;
    color: #f2f2f2;
    background-color: #0d0d0d;
}
.modal-title {
    width: 100%;
    text-align: center;
}
